/* .product-container {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards {
    width: 300px;
    background: whitesmoke;
    padding: 10px;
    border-radius: 15px;
    margin: 15px 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
}
.cards:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img.product-image {
    width: 100%;
    object-fit: cover;
    height: 300px;
}
p.product-name {
    font: bold 20px serif;
}

p.product-description {
    font: normal 15px serif;
}

p.product-price {
    font: normal 15px arial;
}

button.buy-button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #98c1d9;
    border-radius: 8px;
}

.cards > button {
    width: 49%;
}

.edit {
    margin-right: 5px;
    
}

.delete {
    background: #e63946;
    color: white;
} */

.single-product {
    transition: all .5s ease 0s;
}
.single-product:hover {
    box-shadow: 1px 25px 54px rgb(0 0 0 / 12%) !important;
}

.product-img {
    /* overflow: hidden; */
    position: relative;
    height: 300px;
}

.pro-label {
    left: 20px;
    position: absolute;
    top: 20px;
    z-index: 2;
    background: #c8a165 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    text-transform: capitalize;
}

.product-img img {
    object-fit: contain !important;
}

/* img {
    vertical-align: middle;
} */



.post-title {
    font-size: 16px !important;
    line-height: 18px !important;
    text-transform: uppercase;
    font-family: bree serif !important;
    margin-bottom: 5px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.post-title {
    text-decoration: none;
    color: #434343;
}

.post-title:hover {
    color: #c8a165;
    text-decoration: none;
}

.pro-price {
    color: #c87065;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}